/* src/App.css */

.App {
  display: flex;
  height: 100vh;
}

.content {
  margin-left: 200px;
  padding: 20px;
  width: calc(100% - 200px);
  display: flex;
  background-color: #333333e8;
}

.auth_content {
  padding: 20px;
  width: 100%;
  display: flex;
  background-color: #333333e8;
}


button {
  cursor: pointer;
}