/* Container for the switch */
.switch-container {
    align-items: center;
    gap: 10px; /* Space between the switch and the label */
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 37px !important;
    height: 18px;
    margin-bottom: 0px !important;
    position: relative
}

/* Hide the default checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: -6px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
}

.offslider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
}

/* When the checkbox is checked, move the slider */
.switch-toggle:checked + .slider {
    background-color: green;
}

.switch-toggle:checked + .slider:before {
    transform: translateX(26px);
}

/* Rounded slider */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Label for ON/OFF status */
.status-label {
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    left: 4px;
    top: 7px;
    z-index: 1;
}

.off-status-label {
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    left: 32px;
    top: 7px;
    z-index: 1;
}
